/* Global styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    background: #f1f1f1;
    margin: 0;
}

/* Header styles */
.header {
    padding: 30px;
    text-align: center;
    background: #4CAF50;
    color: white;
}

.header h1 {
    font-size: 50px;
    margin: 0;
}

/* Navigation styles */
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Column styles */
.leftcolumn {
    float: left;
    width: 25%;
}

.rightcolumn {
    float: left;
    width: 75%;
}

/* Image styles */
.cover-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border: 5px solid #001f3f;
}

.profile-img {
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-top: -75px;
    border: 5px solid #001f3f;
}

/* Card styles */
.card {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    font-family: "Garamond", serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
}

.card h2 {
    font-size: 21px;
    font-weight: bold;
    color: #333333;
}

.card p {
    margin-bottom: 10px;
}

.card .icon {
    margin-right: 10px;
    color: #333333;
}

.card .photo {
    float: left;
    margin-right: 20px;
    border: 1px solid #ddd;
    padding: 5px;
}

.foto {
    float: left;
    margin-right: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive design */
.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }

    /* Animation styles */
    @keyframes changeBorderColor {
        /* Animation keyframes go here */
    }

    .cover-img {
        /* Adjusted styles for smaller screens */
    }
}

/* Additional styles */
.row .rightcolumn .card {
    padding-right: 16px;
    padding-top: 17px;
    padding-bottom: 19px;
    margin-left: -2px;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
}

.texto {
    color: aliceblue;
}

.dulce {
    display: inline-block;
    max-width: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
}

.dulce img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
