* {
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    padding: 0; /* Ajustado a 0 para eliminar el espacio alrededor */
    background: #f1f1f1;
    margin: 0; /* Aseguramos que no haya margen alrededor del body */
}
.header {
    padding: 30px;
    text-align: center;
    background: #4CAF50;
    color: white;
}
.header h1 {
    font-size: 50px;
    margin: 0; /* Eliminamos el margen para mantener el estilo y evitar espacios adicionales */
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.leftcolumn {
    float: left;
    width: 25%;
}
.rightcolumn {
    float: left;
    width: 75%;
}
.cover-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border: 5px solid #001f3f; /* O también puedes usar rgb(0, 31, 63) */
}
.profile-img {
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-top: -75px; /* Centrar verticalmente, mantenido */
    border: 5px solid #001f3f; /* O también puedes usar rgb(0, 31, 63) */
}
/* Card estilo inicio*/
.card {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    font-family: "Garamond", serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    margin: 10px;
  }
  
  .card h2 {
    font-size: 21px;
    font-weight: bold;
    color: #333333;
  }
  
  .card p {
    margin-bottom: 10px;
  }
  
  .card .icon {
    margin-right: 10px;
    color: #333333;
  }
  
  .card .photo {
    float: left;
    margin-right: 20px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .foto {
    float: left;
    margin-right: 20px;
    width: 120px; /* Ajustar según el tamaño deseado */
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

/* Card estilo fin*/
  
.row::after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0; /* Eliminamos el padding lateral para usar todo el ancho */
    }
}
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%; /* Ajuste para que los enlaces ocupen todo el ancho */
    }
    @keyframes changeBorderColor {
        0% {
            border-color: #3498db; /* Azul */
        }
        25% {
            border-color: #2ecc71; /* Verde */
        }
        50% {
            border-color: #e74c3c; /* Rojo */
        }
        75% {
            border-color: #f39c12; /* Amarillo anaranjado */
        }
        100% {
            border-color: #3498db; /* Vuelve al azul al final */
        }
    }
    
    
    .cover-img {
        width: 100%;
        height: 100rem; /* Ajusta la altura según sea necesario */
        object-fit: cover;
        margin: 0; /* Elimina el margen */
        border: 5px solid white; /* Inicializa con un borde blanco de 5px */
        animation: changeBorderColor 5s infinite; /* Cambia de color en 5 segundos, ajusta el tiempo según tus necesidades */
    }
    
}

/* Card */
.row .rightcolumn .card{
    padding-right:16px;
    padding-top:17px;
    padding-bottom:19px;
    margin-left:-2px;
   }
   
   